# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# VS Code

*.code-workspace

# Environments
.venv/
venv/
env/
ENV/
env.bak/
ENV.bak/

# Pipenv
Pipfile
Pipfile.lock

# Poetry
poetry.lock
.poetry/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# ragatouille files
.ragatouille/

# .wav files
*.wav

*.tsv

.vscode/